body {
    color: #3C3D37;
    background-color: #FFEEAD !important;

}

header {
    background-color: #3C3D37;
    
}

.nav-link {
    color: #ffd9b9 !important;
    
}

h1 {
    color: #3C3D37;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

.album {
    background-color: #FFFBDA !important;
}