#header {
	background: linear-gradient(-45deg, #809A6F, #A25B5B, #CC9C75, #D5D8B5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    color: #3C3D37;
    background-color: #FFEEAD !important;

}

h1 {
    color: #3C3D37;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}
.container.header {
    background-color: #FFEEAD;
    color: #3C3D37;
}

.hello {
    padding: 0;
    margin: 0;
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
}

.lead {
    margin-top: 20px;    
}
  
.profile-img {
    border: none;
    border-radius: 50%;
}

.heading {
    color: #3C3D37;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

#about-me {
    background-color: #FFFBDA;
}

#contact {
    background-color: #FFFBDA;

}

.border-top {
    color: #3C3D37 !important;
}

.port-link {
    color: #3C3D37;

}