body {
    color: #3C3D37;
    background-color: #FFEEAD !important;

}

header {
    background-color: #3C3D37;
    
}

.nav-link {
    color: #ffd9b9 !important;
    
}

h1 {
    color: #3C3D37;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

#header {
    background-color: #FFFBDA;
    color: #3C3D37;
}

.heading {
    color: #3C3D37;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

